<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanbit.web.mapper.MemberMapper">
  <select id="selectList" resultType="com.hanbit.web.member.MemberDTO">
    select * from Member
  </select>
  <select id="selectById" resultType="com.hanbit.web.member.MemberDTO" parameterType="com.hanbit.web.member.MemberDTO">
  	select * from Blog where id = #{id}
  </select>
  <select id="selectMember" resultType="com.hanbit.web.member.MemberDTO" parameterType="com.hanbit.web.member.MemberDTO">
  	select * from Blog 
  	where id = #{id} and password = #{password}
  </select>
  <insert id="insert" parameterType="com.hanbit.web.member.MemberDTO"></insert>
  <update id="update" parameterType="com.hanbit.web.member.MemberDTO"></update>
  <delete id="delete" parameterType="com.hanbit.web.member.MemberDTO"></delete>
</mapper>